:root{
  --main-font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  --code-font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.align-left {
	float: left;
}
.align-right {
	float: right;
}
.navigation {
  height: 100%;  
  position: fixed;
  z-index: 1; 
  top: 0; 
  left: 0; 
  background-color:#232323; 
  transition: .5s ease; 
  overflow-x: hidden; 
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.image {
  width: 100%;
  max-width: 600px;
  height: auto;
  pointer-events: none;
}

.header {
  text-align: center;
  align-items: center;
  justify-content: center;
}

.main {
  text-align: left;
  padding: 10px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}


.copyright {
  font-family: var(--code-font-family);
  color: #534B52;
}

a.copyright {
  text-decoration: none;
}

.project-link {
  color:#9AE19D;
}